.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    padding: 10px;
    font-size: xx-large;
    margin-right: auto;
}

.link {
    padding: 10px;
    display: block;
    text-align: center;
    color: inherit;
    cursor: pointer;
}

.link > a {
    text-decoration: none;
}

.link > a:visited {
    color: inherit;
}

.link.active,
.link:hover {
    border-bottom: 3px red solid;
    color: red;
}
